<h1>welcome</h1>
<p> Are you ready to rock...paper AND scissors?, type your prefered weapon (rock paper or scissors only please - I'm a novice programmer at best. Your opponent will also type a weapon. Which will win!?</p>